<div class="row">
  <div class="list-group col-12">
    <a (click)="pickCocktail(index)"
      *ngFor="let cocktail of cocktails; let index = index"
      href="#"
      class="list-group-item list-group-item-action">
      {{cocktail.name}}
    </a>
  </div>
</div>
<hr>
<div class="row">
  <button class="btn btn-success">
    Ajouter un cocktail
  </button>
</div>
