<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Cocktails</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active" href="#">Recettes <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
