<div class="row">
  <app-cocktails-list
    (pick)="updateCockatail($event)"
    [cocktails]="cocktails"
    class="col-5">
</app-cocktails-list>
  <app-cocktails-details
    [cocktail]= "cocktail"
    class="col-7">
</app-cocktails-details>
</div>
