<div class="row">
  <div class="col-4">
    <img [src]="cocktail.img" [alt]="cocktail.name" class="img-fluid">
  </div>
  <h1 class="col-8">{{cocktail.name}}</h1>
</div>
<hr>
<div class="row">
  <p class="col-12">{{cocktail.desc}}</p>
</div>
<hr>
<div class="row">
  <button class="btn btn-success">
    Editer un cocktail
  </button>
</div>
